// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Sun Sep  7 13:56:41 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/wchan/documents/github/e155lab2/fpga/radiant_project/lab2_wc/source/impl_1/demux2_1.sv"
// file 1 "c:/users/wchan/documents/github/e155lab2/fpga/radiant_project/lab2_wc/source/impl_1/leds_lab2.sv"
// file 2 "c:/users/wchan/documents/github/e155lab2/fpga/radiant_project/lab2_wc/source/impl_1/mux2.sv"
// file 3 "c:/users/wchan/documents/github/e155lab2/fpga/radiant_project/lab2_wc/source/impl_1/seg_disp.sv"
// file 4 "c:/users/wchan/documents/github/e155lab2/fpga/src/lab2_wc.sv"
// file 5 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 6 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 38 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 39 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 55 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 56 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab2_wc
//

module lab2_wc (input [3:0]switch1, input [3:0]switch2, output [6:0]seg_out, 
            output [4:0]leds, output [1:0]anodes);
    
    wire GND_net;
    wire switch1_c_3;
    wire switch1_c_2;
    wire switch1_c_1;
    wire switch1_c_0;
    wire switch2_c_3;
    wire switch2_c_2;
    wire switch2_c_1;
    wire switch2_c_0;
    wire seg_intm_3__N_35;
    wire leds_c_4;
    wire leds_c_3;
    wire leds_c_2;
    wire leds_c_1;
    wire leds_c_0;
    wire select_N_47;
    wire select;
    wire [3:0]switch;
    (* is_clock=1, lineinfo="@4(14[11],14[18])" *) wire int_osc;
    wire [19:0]counter;
    wire [6:0]seg_intm;
    
    wire VCC_net, n654, n262, n274, n260, n272, n264, n270, 
        n627, n651, n648, n630, n268, n645, n266, n633, n639;
    wire [18:0]counter_18__N_1;
    
    wire n258, n642, n636;
    
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_7 (.A0(GND_net), .B0(counter[6]), 
            .C0(GND_net), .D0(n262), .CI0(n262), .A1(GND_net), .B1(counter[7]), 
            .C1(GND_net), .D1(n636), .CI1(n636), .CO0(n636), .CO1(n264), 
            .S0(counter_18__N_1[5]), .S1(counter_18__N_1[6]));
    defparam add_10_add_5_7.INIT0 = "0xc33c";
    defparam add_10_add_5_7.INIT1 = "0xc33c";
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_11 (.A0(GND_net), 
            .B0(counter[10]), .C0(GND_net), .D0(n266), .CI0(n266), .A1(GND_net), 
            .B1(counter[11]), .C1(GND_net), .D1(n642), .CI1(n642), .CO0(n642), 
            .CO1(n268), .S0(counter_18__N_1[9]), .S1(counter_18__N_1[10]));
    defparam add_10_add_5_11.INIT0 = "0xc33c";
    defparam add_10_add_5_11.INIT1 = "0xc33c";
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_9 (.A0(GND_net), .B0(counter[8]), 
            .C0(GND_net), .D0(n264), .CI0(n264), .A1(GND_net), .B1(counter[9]), 
            .C1(GND_net), .D1(n639), .CI1(n639), .CO0(n639), .CO1(n266), 
            .S0(counter_18__N_1[7]), .S1(counter_18__N_1[8]));
    defparam add_10_add_5_9.INIT0 = "0xc33c";
    defparam add_10_add_5_9.INIT1 = "0xc33c";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i1 (.D(counter_18__N_1[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[1]));
    defparam counter_i1.REGSET = "RESET";
    defparam counter_i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_5 (.A0(GND_net), .B0(counter[4]), 
            .C0(GND_net), .D0(n260), .CI0(n260), .A1(GND_net), .B1(counter[5]), 
            .C1(GND_net), .D1(n633), .CI1(n633), .CO0(n633), .CO1(n262), 
            .S0(counter_18__N_1[3]), .S1(counter_18__N_1[4]));
    defparam add_10_add_5_5.INIT0 = "0xc33c";
    defparam add_10_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i18 (.D(counter_18__N_1[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[18]));
    defparam counter_i18.REGSET = "RESET";
    defparam counter_i18.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_3 (.A0(GND_net), .B0(counter[2]), 
            .C0(GND_net), .D0(n258), .CI0(n258), .A1(GND_net), .B1(counter[3]), 
            .C1(GND_net), .D1(n630), .CI1(n630), .CO0(n630), .CO1(n260), 
            .S0(counter_18__N_1[1]), .S1(counter_18__N_1[2]));
    defparam add_10_add_5_3.INIT0 = "0xc33c";
    defparam add_10_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i17 (.D(counter_18__N_1[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[17]));
    defparam counter_i17.REGSET = "RESET";
    defparam counter_i17.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(counter[1]), .C1(VCC_net), 
            .D1(n627), .CI1(n627), .CO0(n627), .CO1(n258), .S1(counter_18__N_1[0]));
    defparam add_10_add_5_1.INIT0 = "0xc33c";
    defparam add_10_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_13 (.A0(GND_net), 
            .B0(counter[12]), .C0(GND_net), .D0(n268), .CI0(n268), .A1(GND_net), 
            .B1(counter[13]), .C1(GND_net), .D1(n645), .CI1(n645), .CO0(n645), 
            .CO1(n270), .S0(counter_18__N_1[11]), .S1(counter_18__N_1[12]));
    defparam add_10_add_5_13.INIT0 = "0xc33c";
    defparam add_10_add_5_13.INIT1 = "0xc33c";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i16 (.D(counter_18__N_1[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[16]));
    defparam counter_i16.REGSET = "RESET";
    defparam counter_i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=42, LSE_LLINE=42, LSE_RLINE=42, lineinfo="@4(42[15],42[42])" *) leds_lab2 sum (switch1_c_3, 
            switch2_c_3, leds_c_4, switch1_c_2, switch2_c_2, leds_c_3, 
            leds_c_2, switch1_c_0, switch2_c_0, leds_c_0, switch1_c_1, 
            switch2_c_1, leds_c_1);
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_19 (.A0(GND_net), 
            .B0(counter[18]), .C0(GND_net), .D0(n274), .CI0(n274), .A1(GND_net), 
            .B1(select), .C1(GND_net), .D1(n654), .CI1(n654), .CO0(n654), 
            .S0(counter_18__N_1[17]), .S1(counter_18__N_1[18]));
    defparam add_10_add_5_19.INIT0 = "0xc33c";
    defparam add_10_add_5_19.INIT1 = "0xc33c";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i15 (.D(counter_18__N_1[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[15]));
    defparam counter_i15.REGSET = "RESET";
    defparam counter_i15.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i14 (.D(counter_18__N_1[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[14]));
    defparam counter_i14.REGSET = "RESET";
    defparam counter_i14.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i13 (.D(counter_18__N_1[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[13]));
    defparam counter_i13.REGSET = "RESET";
    defparam counter_i13.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i12 (.D(counter_18__N_1[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[12]));
    defparam counter_i12.REGSET = "RESET";
    defparam counter_i12.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i11 (.D(counter_18__N_1[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[11]));
    defparam counter_i11.REGSET = "RESET";
    defparam counter_i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i10 (.D(counter_18__N_1[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[10]));
    defparam counter_i10.REGSET = "RESET";
    defparam counter_i10.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i9 (.D(counter_18__N_1[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[9]));
    defparam counter_i9.REGSET = "RESET";
    defparam counter_i9.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i8 (.D(counter_18__N_1[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[8]));
    defparam counter_i8.REGSET = "RESET";
    defparam counter_i8.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i7 (.D(counter_18__N_1[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[7]));
    defparam counter_i7.REGSET = "RESET";
    defparam counter_i7.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i6 (.D(counter_18__N_1[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[6]));
    defparam counter_i6.REGSET = "RESET";
    defparam counter_i6.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i5 (.D(counter_18__N_1[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[5]));
    defparam counter_i5.REGSET = "RESET";
    defparam counter_i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_17 (.A0(GND_net), 
            .B0(counter[16]), .C0(GND_net), .D0(n272), .CI0(n272), .A1(GND_net), 
            .B1(counter[17]), .C1(GND_net), .D1(n651), .CI1(n651), .CO0(n651), 
            .CO1(n274), .S0(counter_18__N_1[15]), .S1(counter_18__N_1[16]));
    defparam add_10_add_5_17.INIT0 = "0xc33c";
    defparam add_10_add_5_17.INIT1 = "0xc33c";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i4 (.D(counter_18__N_1[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[4]));
    defparam counter_i4.REGSET = "RESET";
    defparam counter_i4.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i3 (.D(counter_18__N_1[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[3]));
    defparam counter_i3.REGSET = "RESET";
    defparam counter_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(24[17],24[32])" *) FA2 add_10_add_5_15 (.A0(GND_net), 
            .B0(counter[14]), .C0(GND_net), .D0(n270), .CI0(n270), .A1(GND_net), 
            .B1(counter[15]), .C1(GND_net), .D1(n648), .CI1(n648), .CO0(n648), 
            .CO1(n272), .S0(counter_18__N_1[13]), .S1(counter_18__N_1[14]));
    defparam add_10_add_5_15.INIT0 = "0xc33c";
    defparam add_10_add_5_15.INIT1 = "0xc33c";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i2 (.D(counter_18__N_1[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(counter[2]));
    defparam counter_i2.REGSET = "RESET";
    defparam counter_i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(23[15],25[8])" *) FD1P3XZ counter_i19 (.D(counter_18__N_1[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(select));
    defparam counter_i19.REGSET = "RESET";
    defparam counter_i19.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@4(7[23],7[30])" *) IB \switch2_pad[0]  (.I(switch2[0]), 
            .O(switch2_c_0));
    (* lineinfo="@4(7[23],7[30])" *) IB \switch2_pad[1]  (.I(switch2[1]), 
            .O(switch2_c_1));
    (* lineinfo="@4(7[23],7[30])" *) IB \switch2_pad[2]  (.I(switch2[2]), 
            .O(switch2_c_2));
    (* lineinfo="@4(7[23],7[30])" *) IB \switch2_pad[3]  (.I(switch2[3]), 
            .O(switch2_c_3));
    (* lineinfo="@4(6[35],6[42])" *) IB \switch1_pad[0]  (.I(switch1[0]), 
            .O(switch1_c_0));
    (* lineinfo="@4(6[35],6[42])" *) IB \switch1_pad[1]  (.I(switch1[1]), 
            .O(switch1_c_1));
    (* lineinfo="@4(6[35],6[42])" *) IB \switch1_pad[2]  (.I(switch1[2]), 
            .O(switch1_c_2));
    (* lineinfo="@4(6[35],6[42])" *) IB \switch1_pad[3]  (.I(switch1[3]), 
            .O(switch1_c_3));
    (* lineinfo="@4(10[24],10[30])" *) OB \anodes_pad[0]  (.I(select), .O(anodes[0]));
    (* lineinfo="@4(10[24],10[30])" *) OB \anodes_pad[1]  (.I(select_N_47), 
            .O(anodes[1]));
    (* lineinfo="@4(9[24],9[28])" *) OB \leds_pad[0]  (.I(leds_c_0), .O(leds[0]));
    (* lineinfo="@4(9[24],9[28])" *) OB \leds_pad[1]  (.I(leds_c_1), .O(leds[1]));
    (* lineinfo="@4(9[24],9[28])" *) OB \leds_pad[2]  (.I(leds_c_2), .O(leds[2]));
    (* lineinfo="@4(9[24],9[28])" *) OB \leds_pad[3]  (.I(leds_c_3), .O(leds[3]));
    (* lineinfo="@4(9[24],9[28])" *) OB \leds_pad[4]  (.I(leds_c_4), .O(leds[4]));
    (* lineinfo="@4(8[36],8[43])" *) OB \seg_out_pad[0]  (.I(seg_intm[0]), 
            .O(seg_out[0]));
    (* lineinfo="@4(8[36],8[43])" *) OB \seg_out_pad[1]  (.I(seg_intm[1]), 
            .O(seg_out[1]));
    (* lineinfo="@4(8[36],8[43])" *) OB \seg_out_pad[2]  (.I(seg_intm[2]), 
            .O(seg_out[2]));
    (* lineinfo="@4(8[36],8[43])" *) OB \seg_out_pad[3]  (.I(seg_intm_3__N_35), 
            .O(seg_out[3]));
    (* lineinfo="@4(8[36],8[43])" *) OB \seg_out_pad[4]  (.I(seg_intm[4]), 
            .O(seg_out[4]));
    (* lineinfo="@4(8[36],8[43])" *) OB \seg_out_pad[5]  (.I(seg_intm[5]), 
            .O(seg_out[5]));
    (* lineinfo="@4(8[36],8[43])" *) OB \seg_out_pad[6]  (.I(seg_intm[6]), 
            .O(seg_out[6]));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=33, LSE_LLINE=35, LSE_RLINE=35, lineinfo="@4(35[14],35[33])" *) seg_disp sd ({switch}, 
            seg_intm[6], seg_intm[5], seg_intm[4], seg_intm_3__N_35, 
            seg_intm[2], seg_intm[1], seg_intm[0]);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=32, LSE_LLINE=39, LSE_RLINE=39, lineinfo="@4(39[14],39[32])" *) demux2_1 dm (select, 
            select_N_47);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=10, LSE_RCOL=46, LSE_LLINE=32, LSE_RLINE=32, lineinfo="@4(32[10],32[46])" *) mux2 in (switch1_c_0, 
            switch2_c_0, select, {switch}, switch1_c_1, switch2_c_1, 
            switch1_c_3, switch2_c_3, switch1_c_2, switch2_c_2);
    
endmodule

//
// Verilog Description of module leds_lab2
//

module leds_lab2 (input switch1_c_3, input switch2_c_3, output leds_c_4, 
            input switch1_c_2, input switch2_c_2, output leds_c_3, output leds_c_2, 
            input switch1_c_0, input switch2_c_0, output leds_c_0, input switch1_c_1, 
            input switch2_c_1, output leds_c_1);
    
    
    wire leds_c_3_N_42, leds_c_2_N_44;
    
    (* lut_function="(A (B+(C))+!A (B (C)))", lineinfo="@1(11[17],11[34])" *) LUT4 leds_c_4_I_0_3_lut (.A(switch1_c_3), 
            .B(switch2_c_3), .C(leds_c_3_N_42), .Z(leds_c_4));
    defparam leds_c_4_I_0_3_lut.INIT = "0xe8e8";
    (* lut_function="(A (B+(C))+!A (B (C)))", lineinfo="@1(11[17],11[34])" *) LUT4 i32_3_lut (.A(switch1_c_2), 
            .B(switch2_c_2), .C(leds_c_2_N_44), .Z(leds_c_3_N_42));
    defparam i32_3_lut.INIT = "0xe8e8";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))", lineinfo="@1(11[17],11[34])" *) LUT4 i2_3_lut (.A(leds_c_3_N_42), 
            .B(switch2_c_3), .C(switch1_c_3), .Z(leds_c_3));
    defparam i2_3_lut.INIT = "0x9696";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))", lineinfo="@1(11[17],11[34])" *) LUT4 i2_3_lut_adj_1 (.A(leds_c_2_N_44), 
            .B(switch2_c_2), .C(switch1_c_2), .Z(leds_c_2));
    defparam i2_3_lut_adj_1.INIT = "0x9696";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@1(11[17],11[34])" *) LUT4 switch1_c_0_I_0_2_lut (.A(switch1_c_0), 
            .B(switch2_c_0), .Z(leds_c_0));
    defparam switch1_c_0_I_0_2_lut.INIT = "0x6666";
    (* lut_function="(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(C (D)+!C !(D)))", lineinfo="@1(11[17],11[34])" *) LUT4 i2_3_lut_4_lut (.A(switch1_c_0), 
            .B(switch2_c_0), .C(switch1_c_1), .D(switch2_c_1), .Z(leds_c_1));
    defparam i2_3_lut_4_lut.INIT = "0x8778";
    (* lut_function="(A (B (C+(D))+!B (C (D)))+!A (C (D)))", lineinfo="@1(11[17],11[34])" *) LUT4 i25_3_lut_4_lut (.A(switch1_c_0), 
            .B(switch2_c_0), .C(switch2_c_1), .D(switch1_c_1), .Z(leds_c_2_N_44));
    defparam i25_3_lut_4_lut.INIT = "0xf880";
    
endmodule

//
// Verilog Description of module seg_disp
//

module seg_disp (input [3:0]switch, output \seg_intm[6] , output \seg_intm[5] , 
            output \seg_intm[4] , output seg_intm_3__N_35, output \seg_intm[2] , 
            output \seg_intm[1] , output \seg_intm[0] );
    
    
    (* lut_function="(!(A (B+!(C (D)))+!A (B+(D))))", lineinfo="@3(33[10],33[19])" *) LUT4 i352_4_lut (.A(switch[1]), 
            .B(switch[3]), .C(switch[0]), .D(switch[2]), .Z(\seg_intm[6] ));
    defparam i352_4_lut.INIT = "0x2011";
    (* lut_function="(!(A (B ((D)+!C)+!B !((D)+!C))+!A (B ((D)+!C)+!B (C+!(D)))))", lineinfo="@3(13[3],31[10])" *) LUT4 seg_intm_5__I_0_2_4_lut (.A(switch[0]), 
            .B(switch[3]), .C(switch[2]), .D(switch[1]), .Z(\seg_intm[5] ));
    defparam seg_intm_5__I_0_2_4_lut.INIT = "0x23c2";
    (* lut_function="(!(A (B (C+(D)))+!A (B+((D)+!C))))", lineinfo="@3(13[3],31[10])" *) LUT4 seg_intm_4__I_0_2_4_lut (.A(switch[0]), 
            .B(switch[3]), .C(switch[2]), .D(switch[1]), .Z(\seg_intm[4] ));
    defparam seg_intm_4__I_0_2_4_lut.INIT = "0x223a";
    (* lut_function="(A (B (C (D)+!C !(D)))+!A (B (C (D))+!B !(C (D)+!C !(D))))", lineinfo="@3(13[3],31[10])" *) LUT4 i33_4_lut (.A(switch[3]), 
            .B(switch[1]), .C(switch[2]), .D(switch[0]), .Z(seg_intm_3__N_35));
    defparam i33_4_lut.INIT = "0xc118";
    (* lut_function="(A (B (C)+!B !(C+(D)))+!A !(((D)+!C)+!B))", lineinfo="@3(13[3],31[10])" *) LUT4 seg_intm_2__I_0_2_4_lut (.A(switch[1]), 
            .B(switch[3]), .C(switch[2]), .D(switch[0]), .Z(\seg_intm[2] ));
    defparam seg_intm_2__I_0_2_4_lut.INIT = "0x80c2";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A (B (C+(D))))", lineinfo="@3(13[3],31[10])" *) LUT4 seg_intm_1__I_0_2_4_lut (.A(switch[0]), 
            .B(switch[2]), .C(switch[3]), .D(switch[1]), .Z(\seg_intm[1] ));
    defparam seg_intm_1__I_0_2_4_lut.INIT = "0xe448";
    (* lut_function="(!(A (B (C)+!B (C+(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@3(13[3],31[10])" *) LUT4 switch_3__I_0_4_lut (.A(switch[2]), 
            .B(switch[3]), .C(switch[1]), .D(switch[0]), .Z(\seg_intm[0] ));
    defparam switch_3__I_0_4_lut.INIT = "0x490a";
    
endmodule

//
// Verilog Description of module demux2_1
//

module demux2_1 (input select, output select_N_47);
    
    
    (* lut_function="(!(A))", lineinfo="@0(10[3],14[10])" *) LUT4 select_I_0_1_lut (.A(select), 
            .Z(select_N_47));
    defparam select_I_0_1_lut.INIT = "0x5555";
    
endmodule

//
// Verilog Description of module mux2
//

module mux2 (input switch1_c_0, input switch2_c_0, input select, output [3:0]switch, 
            input switch1_c_1, input switch2_c_1, input switch1_c_3, input switch2_c_3, 
            input switch1_c_2, input switch2_c_2);
    
    
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(11[15],11[26])" *) LUT4 switch1_c_0_I_0_2_3_lut (.A(switch1_c_0), 
            .B(switch2_c_0), .C(select), .Z(switch[0]));
    defparam switch1_c_0_I_0_2_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(11[15],11[26])" *) LUT4 switch1_c_1_I_0_3_lut (.A(switch1_c_1), 
            .B(switch2_c_1), .C(select), .Z(switch[1]));
    defparam switch1_c_1_I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(11[15],11[26])" *) LUT4 switch1_c_3_I_0_3_lut (.A(switch1_c_3), 
            .B(switch2_c_3), .C(select), .Z(switch[3]));
    defparam switch1_c_3_I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(11[15],11[26])" *) LUT4 switch1_c_2_I_0_3_lut (.A(switch1_c_2), 
            .B(switch2_c_2), .C(select), .Z(switch[2]));
    defparam switch1_c_2_I_0_3_lut.INIT = "0xcaca";
    
endmodule
